@import 'variables';

.sidebar {
  position: -webkit-sticky !important; /* Safari */
  position:
      sticky !important;
  top: 0;
  z-index: 9;
}

.sidebar .input-group,
.sidebar select {
  margin: 5px 0;
}

.sidebar label {
  font-weight: bold;
  padding: 0;
  margin-bottom: 5px;
}

.sidebar .form-control {
  font-size: $font14;
}

.sidebar .checkin,
.sidebar .checkout {
  background-color: #E9ECEF !important;
  border: 1px solid #ced4da !important;
}



.Cpromocion a {
  color: $color-acento !important;
}


